[distutils]
index-servers=
   pypi
   testpypi

[pypi]
username: lewisacidic
password: {{ pass "websites/pypi.org/lewisacidic" }}


[testpypi]
repository: https://test.pypi.org/legacy/
username: lewisacidic
password: {{ pass "websites/pypi.org/lewisacidic" }}

